.range-input {
  -webkit-appearance: none;
  width: 97%;
  margin: auto;
  height: 25px;
  border-radius: 5px;
  background: #a7050500; /* Color de fondo por defecto */
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  -webkit-box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.73);
  box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.73);
  border: 1px solid rgba(0, 0, 0, 0.377);
}

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #0e0e0e00;
  cursor: pointer;
}
.range-input ::placeholder {
  color: black;
}
